/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
    color:#777;
    font-family:'Open Sans';
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hero_banner{
        height:100vh;
        background: url(http://assets.codecloudapp.com/sites/56cf790c6e6f641ef8020000/image/jpeg/1456437782000/bgs-2.jpg) no-repeat;
        background-size:cover;
    }
    .main_logo{
        width: 420px;
        margin-bottom: 25px;
    }
    .main_desc{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 33px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
}